body {
    background-image: url(https://lh3.googleusercontent.com/proxy/InAu4g-gm08U0iFMSOpJlQpLzp5Dhw2zZyfLS8soE-MzFg4kxKcBs9rvtd3NY_RlFPfyZwq_alao_XNl41d0Gm0NkESZwsB1bWRPJNb4L2AZF4S-OQYz3JH2NHrpE3YKD5KXXbwejlEFv87aRTe4);
}
#abc {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    list-style-type: none;
    background-color: rgb(187, 160, 7);
    align-items: center;
    width: 100%;
    height: 50px;
    cursor: pointer;
}
#bbc {
    text-align: center;
    width: 700px;
    height: 550px;
    margin-top: 100px;
    background-color: honeydew;
    margin-left: 30%;
    background-color: rgba(124, 123, 123, 0.856);
    font-size: 25px;
    font-style: italic;
}
#add {
    display: flex;
    font-size: 30px;
    font-style: italic;
}
#sad {
    width: 500px;
    height: 500px;
    border-radius: 50%;
}
#asa {
    display: flex;
    justify-content: center;
}
#fun {
    font-size: 30px;
    color: white;
    font-style: italic;
    margin-top: 200px;
}
#ZET {
    width: 100%;
    min-height: 200px;
    background-color: rgb(187, 160, 7);
}
#if {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    width: 400px;
    border-top-style: solid;
    border-top-color: white;
    border-top-width: 2px;
    border-bottom: solid white 2px;
}
#footer_links {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer_socials {
    font-size: 75px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 50px;
}
.fa-facebook-square {
    color: blue;
}
.fa-youtube {
    color: red;
}
.fa-google {
    color: green;
}
#footer_socials div {
    width: 500px;
    display: flex;
    justify-content: space-between;
}
footer p {
    text-align: center;
    font-size: 18px;
    color: white;
}